body{
margin:0;
background:black;
color:white;
font-family:Arial;
overflow-x:hidden;
}

section{
min-height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}

.card{
background:#111;
padding:30px;
border-radius:15px;
text-align:center;
}

input{
padding:10px;
border:none;
border-radius:8px;
margin-top:10px;
}

button{
margin-top:10px;
padding:10px 20px;
border:none;
border-radius:8px;
cursor:pointer;
}

.note{
background:#111;
padding:20px;
border-radius:15px;
cursor:pointer;
transition:.3s;
}

.note:hover{
transform:scale(1.05);
}

.scroll{
margin-top:30px;
opacity:.7;
}

.secret{
margin-top:200px;
text-align:center;
}

/* MODAL */
#noteModal{
position:fixed;
inset:0;
background:rgba(0,0,0,.8);
display:none;
justify-content:center;
align-items:center;
}

.noteBox{
background:#111;
padding:30px;
border-radius:15px;
max-width:400px;
text-align:center;
}

/* TEKLİF */
#proposal{
position:fixed;
inset:0;
background:black;
display:none;
flex-direction:column;
align-items:center;
justify-content:center;
text-align:center;
}

#title{
font-size:40px;
animation:pulse 1.5s infinite;
}

.buttons{
display:none;
margin-top:20px;
}

@keyframes pulse{
50%{transform:scale(1.1);}
}

/* KALPLER */
#hearts{
position:fixed;
inset:0;
pointer-events:none;
}

.heart{
position:absolute;
color:white;
bottom:-50px;
animation:float 6s linear;
}

@keyframes float{
from{transform:translateY(0);opacity:1;}
to{transform:translateY(-120vh);opacity:0;}
}
